# Node modules
node_modules
npm-debug.log
yarn-error.log

# Local data and uploads (agar local saqlash bo‘lsa)
data/results/*
data/tests/*
public/uploads/*

# Git files
.git
.gitignore

# OS temporary files
.DS_Store
Thumbs.db


.env

